<%- include ("../helper/header")%>
<body>

   <!----------NAVBAR----------->
     <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#">Restaurant</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarS" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarS">
          <ul class="navbar-nav mr-auto">

            <li class="nav-item active">
                <a class="nav-link" href="/">Home</a>
              </li>
            <li class="nav-item active">
              <a class="nav-link" href="/menu">Menu</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="/logout">Logout</a>
              </li>
              <li class="nav-item active">
                <a class="nav-link" href="#">Feedback</a>
              </li>
          </ul>
        </div>
      </nav>

<div class="container mt-5">
   <ul class="nav nav-tabs">
      <li class="nav-item">
        <a class="nav-link active" href="#">Profile</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/summery/<%=msg[1].uname%>">Summery</a>
      </li>
    </ul>
    <div class="mt-5">
       <%if(msg[0]){%>
         <div class="container">
            <div class="alert alert-danger" role="alert">
               <%=msg[0]%>
            </div>
         </div>
       <%}%>
         <div class="container">
            <div class="container">
               <div class="alert alert-success" role="alert">
                  <h4 class="alert-heading">Your Information</h4>
                  <hr>
                  <p> <strong>Name : </strong><%=msg[1].name.fname%> <%=msg[1].name.lname%></p>
                  <p> <strong>User Name : </strong><%=msg[1].uname%></p>
                  <p> <strong>Email : </strong><%=msg[1].email%></p>
                  <p> <strong>Mobile : </strong><%=msg[1].mobile%></p>
                  <p> <strong>Currently Active : </strong><%if(msg[1].isActive==0){%>Not Activate currently<%}else{%>Activate <%}%></p>
                  
               </div>
            </div>
         </div>
        
    </div>
</div>
      <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
		<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
	   <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
		  
</body>
</html>